@let item = article();
<a class="item" [class.item--lead]="isLead()" [routerLink]="['/articles', item.slug]">
  <div class="item__thumb">
    @if (item.coverImage; as cover) {
      <img [ngSrc]="cover.url" [alt]="cover.alt ?? ''" fill />
    }
  </div>
  <div class="item__body">
    @if (item.category; as category) {
      <span class="item__chip">{{ category.name }}</span>
    }
    <h3 class="item__title">{{ item.title }}</h3>
    @if (isLead()) {
      <p class="item__excerpt">{{ item.excerpt }}</p>
      <p class="item__meta">
        @if (item.author; as author) {
          <span>{{ author.username }}</span>
          <span aria-hidden="true">·</span>
        }
        <time [attr.datetime]="item.publishedAt">{{ item.publishedAt | timeAgo }}</time>
      </p>
    }
  </div>
</a>
